<%= form_for(@nvd_entry) do |f| %>
  <% if @nvd_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nvd_entry.errors.count, "error") %> prohibited this nvd_entry from being saved:</h2>

      <ul>
      <% @nvd_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cve %><br />
    <%= f.text_field :cve %>
  </div>
  <div class="field">
    <%= f.label :cwe %><br />
    <%= f.text_field :cwe %>
  </div>
  <div class="field">
    <%= f.label :cvss_id %><br />
    <%= f.text_field :cvss_id %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.datetime_select :published %>
  </div>
  <div class="field">
    <%= f.label :last_modified %><br />
    <%= f.datetime_select :last_modified %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
