<h1>Listing nvd_entries</h1>

<table>
  <tr>
    <th>Cve</th>
    <th>Cwe</th>
    <th>Cvss</th>
    <th>Summary</th>
    <th>Published</th>
    <th>Last modified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nvd_entries.each do |nvd_entry| %>
  <tr>
    <td><%= nvd_entry.cve %></td>
    <td><%= nvd_entry.cwe %></td>
    <td><%= nvd_entry.cvss_id %></td>
    <td><%= nvd_entry.summary %></td>
    <td><%= nvd_entry.published %></td>
    <td><%= nvd_entry.last_modified %></td>
    <td><%= link_to 'Show', nvd_entry %></td>
    <td><%= link_to 'Edit', edit_nvd_entry_path(nvd_entry) %></td>
    <td><%= link_to 'Destroy', nvd_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nvd entry', new_nvd_entry_path %>
