<p id="notice"><%= notice %></p>

<p>
  <b>Cve:</b>
  <%= @nvd_entry.cve %>
</p>

<p>
  <b>Cwe:</b>
  <%= @nvd_entry.cwe %>
</p>

<p>
  <b>Cvss:</b>
  <%= @nvd_entry.cvss_id %>
</p>

<p>
  <b>Summary:</b>
  <%= @nvd_entry.summary %>
</p>

<p>
  <b>Published:</b>
  <%= @nvd_entry.published %>
</p>

<p>
  <b>Last modified:</b>
  <%= @nvd_entry.last_modified %>
</p>


<%= link_to 'Edit', edit_nvd_entry_path(@nvd_entry) %> |
<%= link_to 'Back', nvd_entries_path %>
