<h1>Listing integrity_impacts</h1>

<table>
  <tr>
    <th>Impact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @integrity_impacts.each do |integrity_impact| %>
  <tr>
    <td><%= integrity_impact.impact_id %></td>
    <td><%= link_to 'Show', integrity_impact %></td>
    <td><%= link_to 'Edit', edit_integrity_impact_path(integrity_impact) %></td>
    <td><%= link_to 'Destroy', integrity_impact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Integrity impact', new_integrity_impact_path %>
