<h1>Listing vulnerable_configurations</h1>

<table>
  <tr>
    <th>Nvd entry</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vulnerable_configurations.each do |vulnerable_configuration| %>
  <tr>
    <td><%= vulnerable_configuration.nvd_entry_id %></td>
    <td><%= vulnerable_configuration.product_id %></td>
    <td><%= link_to 'Show', vulnerable_configuration %></td>
    <td><%= link_to 'Edit', edit_vulnerable_configuration_path(vulnerable_configuration) %></td>
    <td><%= link_to 'Destroy', vulnerable_configuration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vulnerable configuration', new_vulnerable_configuration_path %>
