<h1>Listing references</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Link</th>
    <th>Name</th>
    <th>Nvd entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @references.each do |reference| %>
  <tr>
    <td><%= reference.source %></td>
    <td><%= reference.link %></td>
    <td><%= reference.name %></td>
    <td><%= reference.nvd_entry_id %></td>
    <td><%= link_to 'Show', reference %></td>
    <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
    <td><%= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reference', new_reference_path %>
