<%= form_for(@cvss) do |f| %>
  <% if @cvss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cvss.errors.count, "error") %> prohibited this cvss from being saved:</h2>

      <ul>
      <% @cvss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :generated_on %><br />
    <%= f.datetime_select :generated_on %>
  </div>
  <div class="field">
    <%= f.label :access_vector %><br />
    <%= f.text_field :access_vector %>
  </div>
  <div class="field">
    <%= f.label :access_complexity %><br />
    <%= f.text_field :access_complexity %>
  </div>
  <div class="field">
    <%= f.label :authentication %><br />
    <%= f.text_field :authentication %>
  </div>
  <div class="field">
    <%= f.label :integrity_impact_id %><br />
    <%= f.text_field :integrity_impact_id %>
  </div>
  <div class="field">
    <%= f.label :confidentiality_impact_id %><br />
    <%= f.text_field :confidentiality_impact_id %>
  </div>
  <div class="field">
    <%= f.label :availability_impact_id %><br />
    <%= f.text_field :availability_impact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
