<h1>Listing cvsses</h1>

<table>
  <tr>
    <th>Score</th>
    <th>Source</th>
    <th>Generated on</th>
    <th>Access vector</th>
    <th>Access complexity</th>
    <th>Authentication</th>
    <th>Integrity impact</th>
    <th>Confidentiality impact</th>
    <th>Availability impact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cvsses.each do |cvss| %>
  <tr>
    <td><%= cvss.score %></td>
    <td><%= cvss.source %></td>
    <td><%= cvss.generated_on %></td>
    <td><%= cvss.access_vector %></td>
    <td><%= cvss.access_complexity %></td>
    <td><%= cvss.authentication %></td>
    <td><%= cvss.integrity_impact_id %></td>
    <td><%= cvss.confidentiality_impact_id %></td>
    <td><%= cvss.availability_impact_id %></td>
    <td><%= link_to 'Show', cvss %></td>
    <td><%= link_to 'Edit', edit_cvss_path(cvss) %></td>
    <td><%= link_to 'Destroy', cvss, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cvss', new_cvss_path %>
